.alert{
  z-index: 999999;
  position: fixed;
  top: 10px;
  right: 20px;
  animation: alertPopUp 3s ease-out;
}

@keyframes alertPopUp {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  5% {
    transform: translateY(10px);
    opacity: 1;
  }

  15% {
    transform: translateY(0);
    opacity: 1;
  }

  85% {
    transform: translateY(0);
    opacity: 1;
  } 

  90% {
    transform: translateY(10px);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

button{
  animation: buttonHover 1s infinite;
}
