.footerElements{
    background: linear-gradient(33deg,rgba(0, 21, 36, 1) 0%, rgba(0, 3, 5, 1) 54%, rgba(0, 18, 31, 1) 100%);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.footerText{
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}