<div class="container">

    <h1 class="h1Felirat">Szolgáltatások</h1>
    <hr>

    <div class="cards">
        <div class="cardDiv">

            <div class="cardbody">
                <div class="cardImg">
                    <img src="images.png" alt="">
                </div>
                <div class="cardText">
                    <h3>AI chat model <i class="bi bi-chat-dots-fill"></i></h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Csevegés</button>
                </div>
            </div>
        </div>

        <div class="cardDiv">
            <div class="cardbody">
                <div class="cardImg">
                    <img src="ai_image_generation.jpg" alt="">
                </div>
                <div class="cardText">
                    <h3>AI kép generáló <i class="bi bi-card-image"></i></h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Kép generálása</button>
                </div>
            </div>
        </div>

        <div class="cardDiv">
            <div class="cardbody">
                <div class="cardImg">
                    <img src="ai_image_scan.jpg" alt="">
                </div>
                <div class="cardText">
                    <h3>AI kép felismerő<i class="bi bi-upc-scan"></i></h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Kép feltöltése</button>
                </div>
            </div>
        </div>
        
    </div>

    <hr>


</div>