<div class="container">

    <div class="cards">
        <div class="cardDiv">
            <div class="cardbody">
                <div class="cardImg">
                    <img src="images.png" alt="">
                </div>
                <div class="cardText">
                    <h3>Cím</h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consecteturobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Gomb</button>
                </div>
            </div>
        </div>

        <div class="cardDiv">
            <div class="cardbody">
                <div class="cardImg">
                    <img src="images.png" alt="">
                </div>
                <div class="cardText">
                    <h3>Cím</h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Gomb</button>
                </div>
            </div>
        </div>

        <div class="cardDiv">
            <div class="cardbody">
                <div class="cardImg">
                    <img src="images.png" alt="">
                </div>
                <div class="cardText">
                    <h3>Cím</h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis natus illo, iste et autem voluptatum, ea modi eius, magni sed fuga. 
                    </p>
                    <hr>
                    <button class="btn btn-primary">Gomb</button>
                </div>
            </div>
        </div>
    </div>

    


</div>