.h1Felirat{
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding: 0.5%;
    border-radius: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 5%;
    justify-content: space-around;
    flex-wrap:wrap;
}

.cardDiv{
    background-color: rgba(56, 56, 56, 0.815);
    width: 22%;
    height: 200%;
    border-radius: 12px;
    border: 0.4px solid rgb(39, 39, 39);
    box-shadow: 2px 10px 20px 3px rgba(0,0,0,0.68);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.cardDiv:hover{
    transform: rotate(0.4deg);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    border-color: lightblue;
    box-shadow: 2px 10px 20px 3px rgba(24, 126, 209, 0.68);
    scale: 102%;
}
.cardDiv:hover ~ button{
    background-color: red;
}


.cardImg > img{
    width: 100%;
    height: 18vh;
    border-radius: 15px 15px 0px 0px;
}

.cardText{
    padding: 3%;
    color: rgb(216, 216, 216);
}
.cardText > h3{
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-weight: bold;
}
i{
    margin: 2%;
}
.cardText>button{
    width: 100%;
}

.modal-title{
    justify-content: center;
    font-size: 4000px
}

.modalContainer{
}
.AIChat{

    border-radius: 10px;
    padding-right: 2%;
    margin-top: 0.2%;
    width: fit-content;
    max-width: 40%;

    word-wrap: break-all;
}
.AIMessage{
    background-color: rgb(37, 53, 59);
    box-shadow: 1px 3px 5px 5px rgb(22, 22, 22);
    border-radius: 10px;
    padding:2.8%
}
.UserChat{
    word-wrap: break-all;
    width: fit-content;
    max-width: 40%;
    padding-left: 2%;
    overflow: auto;
    float: right;
    min-width: 20%
}
.UserMessage{
    background-color: rgb(48, 112, 70);
    box-shadow: 1px 3px 5px 5px rgb(22, 22, 22);
    border-radius: 10px;
    padding: 2.8%;
    min-width: 20%
}
.ChatFal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2vh;

}
.ChatFal div:nth-child(even){
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: left;
    flex-direction: column;
    float: right;
    margin-left: auto;
}
.ChatFal div:nth-child(odd){
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}

.modalChat{
    width: 100%;
    padding: 0.5%;
    margin: 0.2%;
    display: flex;
    justify-content: space-around;
}
.modalChat>form{
    width: 85%;
}
.modalChat>button{
    align-items: end;
    justify-content: end;
    width: 13%;
    font-weight: bold;
    margin-left: auto;
    float: right;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: larger;
}

.ChatNames{
    box-shadow: 0px 2px 4px 0px rgb(32, 31, 31);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    color: black;
    transition: 0.4s;
}
.pfp{
    width: 2%;
    height: 2%;
}