.h1Felirat{
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding: 0.5%;
    border-radius: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 5%;
    justify-content: space-around;
    flex-wrap:wrap;
}

.cardDiv{
    background-color: rgba(56, 56, 56, 0.815);
    width: 22%;
    height: 200%;
    border-radius: 12px;
    border: 0.4px solid rgb(39, 39, 39);
    box-shadow: 2px 10px 20px 3px rgba(0,0,0,0.68);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.cardDiv:hover{
    transform: rotate(0.4deg);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    border-color: lightblue;
    box-shadow: 2px 10px 20px 3px rgba(24, 126, 209, 0.68);
    scale: 102%;
}
.cardDiv:hover ~ button{
    background-color: red;
}


.cardImg > img{
    width: 100%;
    height: 18vh;
    border-radius: 12px 12px 0px 0px;
    box-shadow: inset 0px 0px 10px 5px black;
}

.cardText{
    padding: 3%;
    color: rgb(216, 216, 216);
}
.cardText > h3{
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-weight: bold;
}
i{
    margin: 2%;
}
.cardText>button{
    width: 100%;
}
